.sidebar {
  background-color: #0F4E6E;
  width: 20vw;
  min-height: 100vh;
}

.nav {
  margin-top: 1vh;
  margin-left: 3vw;
  display: inline-block;
}

.student a {
  font-size: 2.4vw;
  text-decoration: none;
  color: #FFFFFF;
}

.ExamScorer-logo {
  width: 18vw;
  margin: 1vw;
}